body {
    align-items: center !important;
}

.card {
    align-items: center !important;
}

.card-group {
    flex: content;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10px !important;
    margin-right: 10px !important;
}