<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Before you Leave</title>
    <link rel="stylesheet" href="../public/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <center>
        <div class="header">
            <div class="container">
                <h1 class="display-4">Before You Leave</h1>
                <div class= "tag-box">
                    <p class="tag">Utilize Your Time!</p>
                    </div>            
            </div>
        </div>
    <div class="parent">
        <div class="child" id="todoCard">
            <div id="toDoList">
                <h5 class="card-title">To Do List</h1>
                <div id="toDoContainer" class="container"></div>
            </div>
        </div>
        <div class="child" id="groceryListCard">
            <div id="groceryList">
                <h5 class="card-title">Grocery List</h5>
                <div id="groceryContainer" class="container"></div>
            </div>
        </div>
        <!-- <div class="child" id="weatherCard">
            <img class="card-img-top" alt=""> 
            <h5 class="card-title">Current Weather</h5>
            <p class="card-text" id="weather-body"> </p>
        </div> -->
        <div class="child" id= "newsCard">
            <h5 class="card-title">Current News</h5>
            <p class="card-text" id="news-card-body"></p>
        </div>
    </div>
    </center>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript" src="../public/todo-and-grocery.js"></script>
<script type="text/javascript" src="../public/news.js"></script>
<script type="text/javascript" src="../public/weather.js"></script>
</html>
